<!doctype html>
<html ng-app="LanternVersion">
  <head>
    <meta charset="utf-8">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="LanternVersion.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <style>
      body { padding: 20px 100px; }
    </style>
  </head>
  <body>
    <h1>Latest Lantern Version</h1>
    <form name="latestForm">
      <div ng-class="{'form-group': true, 'has-error': latestForm.id.$invalid}">
        <label for="id" class="control-label">Version ID</label>
        <input id="id" name="id" class="form-control" type="text" ng-model="latest.id" placeholder="x.y.z-beta2" autofocus required>
      </div>
      <div ng-class="{'form-group': true, 'has-error': latestForm.gitSha.$invalid}">
        <label for="gitSha" class="control-label">Git SHA</label>
        <input id="gitSha" name="gitSha" class="form-control" type="text" ng-model="latest.gitSha" placeholder="a1b2c3" required>
      </div>
      <div ng-class="{'form-group': true, 'has-error': latestForm.releaseDate.$invalid}">
        <label for="releaseDate" class="control-label">Release Date</label>
        <input id="releaseDate" name="releaseDate" class="form-control" type="date"
               ng-model="latest.releaseDate" placeholder="1970-01-01" required>
      </div>
      <div ng-class="{'form-group': true, 'has-error': latestForm.infoUrl.$invalid}">
        <label for="infoUrl" class="control-label">Info Url</label>
        <input class="form-control" type="url" id="infoUrl" name="infoUrl" ng-model="latest.infoUrl" required
               placeholder="http://get-lantern.tumblr.com/post/xyz/lantern-x-y-z-beta2-just-went-live">
      </div>
      <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="latestForm.$invalid || busy">
        {{busy && 'Updating...' || 'Update'}}
      </button>
      <div class="help-block has-error" ng-show="error">Error: {{error | json}}</div>
    </form>
  </body>
</html>
