.DS_Store
*.swp
*.swo
*.un~
*.*~
*.settings
*.classpath
*.project
war/WEB-INF/classes
war/WEB-INF/appengine-generated/local_db.bin
src/main/resources/csrf-secret.properties
src/main/resources/org/lantern/secrets
target
log.txt
datanucleus.log
