    <div id="contentContainer" style="margin: auto; width: 600px;">
      <h1 align="center" style="text-align: center; font-size: 22px; line-height: 30px;">%(FRIENDED_HEADER1)s</h1>
      <div id="firstLine" style="font-size: 16px; line-height: 34px; font-weight: bold;">
        %(FRIENDED_HEADER2)s
      </div>
      <div id="downloadPrompt" align="center" style="font-weight: bold; margin: 20px 0 0; text-align: center;">
        %(DOWNLOAD)s
      </div>
      <ul id="downloadLinks" style="padding: 0; list-style-type: none; font-size: 16px; line-height: 24px; font-weight: bold; text-align: center; margin-bottom: 30px;">
        <li style="list-style-image: none; list-style-type: none; margin-left: 0;"><a href="*|INSTALLER_URL_EXE|*">%(WINDOWS_XP)s</a></li>
        <li style="list-style-image: none; list-style-type: none; margin-left: 0;"><a href="*|INSTALLER_URL_DMG|*">%(MAC_OS_X)s</a></li>
        <li style="list-style-image: none; list-style-type: none; margin-left: 0;"><a href="*|INSTALLER_URL_DEB|*">%(UBUNTU)s</a></li>
      </ul>

      <div class="small marginBottom" style="margin-bottom: 10px; font-size: 12px;">%(A_NOTE)s</div>
      <div class="note serif italic indented" style="font-family: 'Times New Roman', Times, serif; margin-left: 20px; font-style: italic;">
        %(NOTE_BODY)s
      </div>
    </div>
    <ul class="inlineList small" id="footer" style="font-size: 12px; word-spacing: 2px; margin: 40px 0; border-top-color: #ccc; padding: 5px 0 0; list-style-type: none; border-top-width: 1px; border-top-style: solid; display: block; text-align: center;">
      <li style="margin: 0; padding: 0; display: inline;"><a href="https://www.getlantern.org/" target="_blank">%(HOMEPAGE)s</a></li>
      <li style="margin: 0; padding: 0; display: inline;">&middot; <a href="https://groups.google.com/group/lantern-users-en" target="_blank">%(FORUMS)s</a></li>
      <li style="margin: 0; padding: 0; display: inline;">&middot; <a href="https://github.com/getlantern/lantern/wiki" target="_blank">%(DOCS)s</a></li>
      <li style="margin: 0; padding: 0; display: inline;">&middot; <a href="https://github.com/getlantern/lantern" target="_blank">%(DEVELOPERS)s</a></li>
    </ul>

