<!DOCTYPE html>
<html lang="en" style="font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Lantern Invitation</title>
  </head>
  <body class="sansSerif" style="font-size: 14px; line-height: 18px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">

{content}

<style type="text/css">
body { font-size: 14px !important; line-height: 18px !important; }
</style>
</body>
</html>
