<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Lantern_controller_java</servlet-name>
    <servlet-class>org.lantern.Lantern_controller_javaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lantern_controller_java</servlet-name>
    <url-pattern>/lantern_controller_java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>statsController</servlet-name>
    <servlet-class>org.lantern.StatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statsController</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>persistController</servlet-name>
    <servlet-class>org.lantern.PersistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>persistController</servlet-name>
    <url-pattern>/persist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sqsChecker</servlet-name>
    <servlet-class>org.lantern.SQSChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqsChecker</servlet-name>
    <url-pattern>/check_sqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryDonations</servlet-name>
    <servlet-class>org.lantern.QueryDonations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryDonations</servlet-name>
    <url-pattern>/query_donations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>processDonation</servlet-name>
    <servlet-class>org.lantern.ProcessDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processDonation</servlet-name>
    <url-pattern>/process_donation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mockRally</servlet-name>
    <servlet-class>org.lantern.MockRally</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mockRally</servlet-name>
    <url-pattern>/mock_rally</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendToken</servlet-name>
    <servlet-class>org.lantern.SendToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendToken</servlet-name>
    <url-pattern>/send_token</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chargeForProxies</servlet-name>
    <servlet-class>org.lantern.ChargeForProxies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargeForProxies</servlet-name>
    <url-pattern>/charge_for_proxies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendCreditWarning</servlet-name>
    <servlet-class>org.lantern.SendCreditWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendCreditWarning</servlet-name>
    <url-pattern>/send_credit_warning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chargeProxy</servlet-name>
    <servlet-class>org.lantern.ChargeProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargeProxy</servlet-name>
    <url-pattern>/charge_proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shutdownProxy</servlet-name>
    <servlet-class>org.lantern.ShutdownProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shutdownProxy</servlet-name>
    <url-pattern>/shutdown_proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xmppreceiver</servlet-name>
    <servlet-class>org.lantern.XmppReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xmppreceiver</servlet-name>
    <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>available</servlet-name>
    <servlet-class>org.lantern.XmppAvailableServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>probe</servlet-name>
    <servlet-class>org.lantern.XmppProbeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>available</servlet-name>
    <url-pattern>/_ah/xmpp/presence/available/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>available</servlet-name>
    <url-pattern>/_ah/xmpp/presence/unavailable/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>probe</servlet-name>
    <url-pattern>/_ah/xmpp/presence/probe/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>subscribe</servlet-name>
    <servlet-class>org.lantern.XmppSubscribeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>subscribe</servlet-name>
    <url-pattern>/_ah/xmpp/subscription/subscribe/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>subscribed</servlet-name>
    <servlet-class>org.lantern.XmppSubscribedServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>subscribed</servlet-name>
    <url-pattern>/_ah/xmpp/subscription/subscribed/</url-pattern>
  </servlet-mapping>
  
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <display-name>Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.lantern.AdminServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/post/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin only</web-resource-name>
      <url-pattern>/persist/*</url-pattern>
      <url-pattern>/check_sqs</url-pattern>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/query_donations</url-pattern>
      <url-pattern>/process_donation</url-pattern>
      <url-pattern>/send_token</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

<filter>
   <filter-name>Content Security Policy</filter-name>
   <filter-class>org.lantern.CSPFilter</filter-class>
</filter>
<filter-mapping>
   <filter-name>Content Security Policy</filter-name>
   <url-pattern>/admin/*</url-pattern>
</filter-mapping>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>
